.row
  .col-md-6
    .form-group
      %label Name
      .controls
        %input{:type => "text", :name => "name", :id => "name", :class => "form-control", :placeholder => "ie Data Center Keep Alive", :value => "#{@check.name if !@check.nil?}", :required => ""}
        %p.help-block
    .form-group
      %label Url
      .controls
        %input{:type => "text", :name => "url", :id => "url", :class => "form-control", :placeholder => "ie http://www.google.com/api", :value => "#{@check.url if !@check.nil?}", :required => ""}
        %p.help-block
    .form-group
      %label Method
      .controls
        %select{:name => "method", :id => "method", :class => "form-control"}
          %option{:value => "GET"} GET
          %option{:value => "POST"} POST
          %option{:value => "DELETE"} DELETE
    .form-group
      %label Frequency (in minutes)
      .controls
        %input{:type => "number", :name => "frequency", :id => "frequency", :class => "form-control", :value => "#{@check.frequency if !@check.nil?}", :required => ""}
        %p.help-block
    .form-group
      %label Save Body
      %select{:name => "save_body", :id => "save_body", :class => "form-control"}
        %option{:value => "false"} false
        %option{:value => "true"} true
    .form-group
      %label Http Username (optional)
      %input{:type => "text", :name => "http_username", :id => "http_username", :class => "form-control", :value => "#{@check.http_username if !@check.nil?}"}
    #http_password_group.form-group{:style => "display:none;"}
      %label Http Password (optional)
      %input{:type => "text", :name => "http_password", :id => "http_password", :class => "form-control", :value => "#{@check.http_password if !@check.nil?}"}
  .col-md-6
    .form-group
      .checkbox
        %label{:title => "Select if you want to be notified when the check is in a warn state.", :data => {:toggle => "tooltip", :placement => "top"}}
          %input{:type => "checkbox", :name => "email_warn", :id => "email_warn", :checked => @check.try(:email_warn) ? @check.email_warn : false} Email about Warnings
    .form-group
      %label{:title => "The value the request duration has to exceed to create a warning incident (value is a multiplies of the mean).",:data => {:toggle => "tooltip", :placement => "top"}} Warn Threshold
      %input{:type => "text", :name => "warn_thresh", :id => "warn_thresh", :class => "form-control", :value => "#{@check.nil? ? Check::MEAN_WARN_THRESHOLD : @check.warn_thresh}"}
    .form-group
      %label{:title => "The value the request duration has to exceed to create an error incident (value is a multiplies of the mean).",:data => {:toggle => "tooltip", :placement => "top"}} Error Threshold
      %input{:type => "text", :name => "bad_thresh", :id => "bad_thresh", :class => "form-control", :value => "#{@check.nil? ? Check::MEAN_BAD_THRESHOLD : @check.bad_thresh}"}
    .form-group
      %label Custom Properties (JSON)
      %textarea{:name => "custom_properties", :id => "custom_properties", :class => "form-control", :rows => 6, :cols => 30}
        = @check.custom_properties.to_s if !@check.nil?
    .form-group
      %label Data (JSON)
      %textarea{:name => "data", :id => "data", :class => "form-control", :rows => 6, :cols => 30}
        = @check.data.to_s if !@check.nil?
.row{:style => "padding-top:5px;"}
  .col-md-12
    .form-group
      %input.btn.btn-lg.btn-primary{:type => "submit"}
.row.bottom-row
  .col-md-12
  
- if !@check.nil?
  :javascript
    $(document).ready(function() {
      $("#method").val("#{@check.method}");
      $("#save_body").val("#{@check.save_body.to_s}");
    });

:javascript
  $("#http_username").focusout(function() {
    if ($(this).val() != "") {
      $("#http_password_group").css("display", "inline-block");
      $("#http_password").focus();
    }
    else {
      $("#http_password_group").css("display", "none");
      $("#custom_properties").focus();
    }
  });
