:css
  .last-incident-container {
    padding: 20px 25px;
    border-top: 1px solid rgb(226, 228, 162);
    background-color: rgb(250, 251, 218);
  }
  .detail-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 15px;
  }
  .row.check-list-header {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    margin-bottom: 15px;
  }

.row.check-list-header
  .col-md-9.col-xs-6.lead-btn-container
    %a.btn.btn-default.btn-lg.no-border{:href => "/"}
      %span.icon.icon-left-arrow{:aria => {:hidden => "true"}}
      Return to listing
  .col-md-3.col-xs-6.pull-right
    .row.nested-row
      .col-md-4.col-xs-4.key-container
        %span.status-icon{:aria => {:hidden => "true"}}
        <br/>
        .span
          Good
      .col-md-4.col-xs-4.key-container
        %span.status-icon.warning{:aria => {:hidden => "true"}}
        <br/>
        .span
          Warning
      .col-md-4.col-xs-4.key-container
        %span.status-icon.error{:aria => {:hidden => "true"}}
        <br/>
        .span
          Error
.row
  .col-md-1.col-xs-1
    %span{:class => "status-icon#{@check.status_icon_css_text}", :aria => {:hidden => "true"}}
  .col-md-5.col-xs-5
    %h2
      = @check[:name]
    %h3= @check[:url]
    %p
      Frequency: 
      %span= @check[:frequency]
      minute
  - if !@check.incidents.empty?
    .col-md-4.col-xs-5.last-incident-container
      - if @check.is_warn?
        Last Warning:
        %br
        = @check.incidents.last.info
      - elsif @check.is_bad?
        Last Error:
        %br
        = @check.incidents.last.info
      - else
        Back to Normal:
      %br
      = @check.incidents.last.created_at.strftime("%l:%M%P on %Y-%-m-%-d")
  .col-md-2.col-xs-2
    %a.btn.btn-default.pull-right{:href => "/check/#{@check[:id]}/edit"}
      %span.icon.icon-pencil{:aria => {:hidden => "true"}}
      Edit
.row
  .col-sm-12.lead-chart-container
    .chart-wrapper
      .chart-title
        %h4 Average response time for the last 48 hours
      .lead-chart
        #grid-1-1.chart-container{:data => {:querytype => "average", :charttype => "line", :name => @check[:name], :groupby => "check.name", :timeframe => "last_48_hours", :interval => "hourly", :targetproperty => "request.duration", :chartoptions => "#{{legend: {show: false}, axis: {x: {type: 'timeseries', tick: {format: '%H:%M'}}}}.to_json}"}}
.row
  .col-md-12
    .chart-wrapper
      .chart-title
        %h2
          Detail view
.row
  .col-md-4.col-xs-6
    %span
      Showing last
      %select{:id => "check_count", :name => "check_count"}
        %option{:value => "10"}
          10
        %option{:value => "25"}
          25
        %option{:value => "50"}
          50
      checks
  .col-md-4.col-xs-6
    %button.btn.btn-default.pull-right{:type => "button"}
      Export JSON
.row
  .col-md-8
    .chart-stage
      #checks-extraction.extraction-container{:data => {:name => @check[:name], timeframe: "this_30_minutes", :latest => 10}}
        .panel-group#accordion{:role => "tablist", :aria => {:multiselectable => "true"}}
  .col-md-4
    .chart-wrapper
      .chart-title.response-codes-header
        Response Codes
      #response-codes.chart-stage.response-codes-container

:javascript
  $(document).ready(function() {
    Keen.ready(function() {
      var name = "#{@check.name}";

      var code_count = new Keen.Query("count", {
        eventCollection: Pingpong.collection,
        timeframe: "this_2_days",
        targetProperty: "response.status",
        groupBy: "response.status",
        filters: [{"property_name":"check.name","operator":"eq","property_value":name}]
      });

      // Lets build the response code table.
      client.run(code_count, function(err, res) {
        if (err) {
          console.log("Error.");
          console.log(err);
        } else {
          var codeMessages = {100: "Continue", 101: "Switching Protocols", 200: "OK", 201: "Created", 202: "Accepted", 203: "Non-Authoratative Information", 204: "No Content", 205: "Reset Content", 206: "Partial Content", 300: "Multiple Choices", 301: "Moved Permanently", 302: "Found", 303: "See Other", 304: "Not Modified", 305: "Use Proxy", 307: "Temporary Redirect", 400: "Bad Request", 401: "Unauthorized", 403: "Forbidden", 404: "Not Found", 405: "Method Not Allowed", 406: "Not Acceptable", 407: "Proxy Authentication Required", 408: "Request Timeout", 409: "Conflict", 410: "Gone", 500: "Internal Server Error", 501: "Not Implemented", 502: "Bad Gateway", 503: "Service Unavailable", 504: "Gateway Timeout"};
          var totalResults = 0;
          var responseCodes = {};

          $.each(res.result, function(ndx, value) {
            totalResults += value.result;
            responseCodes[value["response.status"]] = value.result;
          });

          var keys = Object.keys(responseCodes).sort();
          var keyLength = keys.length
          var elem = $("#response-codes");

          for (var ndx = 0; ndx < keyLength; ndx++) {
            var circleText = "";

            if (keys[ndx] >= 300 && keys[ndx] < 400) {
              circleText = " warning";
            } else if (keys[ndx] >= 400) {
              circleText = " error";
            }

            var statusCircle = '<span class="status-circle' + circleText + '"></span>';
            var row = '<div class="row">' +
                        '<div class="col-md-1 col-xs-1">' +
                        statusCircle +
                        '</div>' +
                        '<div class="col-md-8 col-xs-8">' +
                          '<span class="lead">' +
                          String(keys[ndx]) +
                          '</span>' +
                          '<br />' +
                          codeMessages[keys[ndx]] +
                        '</div>' +
                        '<div class="col-md-1 col-xs-1">' +
                          '<span class="lead">' +
                          String(Math.round(parseFloat(parseFloat(responseCodes[keys[ndx]]) / parseFloat(totalResults) * 1000)) / 10) + "%" +
                          '</span>' +
                        '</div>';

            elem.append(row);
          }
        }
      });
    });
  });
