:css
  .row.check-list-header {
    position: relative;
    padding-bottom: 15px;
  }
  .last-incident {
    font-size: 125%;
    color: hsl(120, 90%, 35%);
    font-style: italic;
  }
  .row {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }

.alert.alert-info.update-on
  Auto-update ON
- unless @config.properties[:keen][:project_id]
  .alert.alert-warning
    Warning: Keen IO environment variables are not set. No visualizations will be drawn. See
    %a(href="https://github.com/keen/pingpong")
      the Pingpong documentation
    for setup information.
- if @checks.empty?
  .alert.alert-warning
    Warning: No checks. Add a check
    %a{:href => "/check/new"}
      here
    or use the CLI with the 
    %code
      pingpong check new
    command.

%div#check-container
  .row.check-list-header
    .col-md-9.col-xs-6.lead-btn-container
      %span.btn.btn-default.btn-lg.no-border#toggle-compact
        %span.icon.icon-hamburger{:aria => {:hidden => "true"}}
        Compact view
    .col-md-3.col-xs-6.pull-right
      .row.nested-row
        .col-md-4.col-xs-4.key-container
          %span.status-icon{:aria => {:hidden => "true"}}
          <br/>
          .span
            Good
        .col-md-4.col-xs-4.key-container
          %span.status-icon.warning{:aria => {:hidden => "true"}}
          <br/>
          .span
            Warning
        .col-md-4.col-xs-4.key-container
          %span.status-icon.error{:aria => {:hidden => "true"}}
          <br/>
          .span
            Error
  - @checks.each do |check|
    .row
      .col-md-1.col-xs-1
        %span{:class => "status-icon#{check.status_icon_css_text}", :aria => {:hidden => "true"}}
      .col-md-4.col-xs-4
        %a.block-link{:href => "/check/#{check.id}/show"}
          %h2
            = check.name
          %h3
            = check.url
          - if !check.incidents.empty?
            %p.last-incident
              - if check.is_warn?
                Warning On:
              - elsif check.is_bad?
                Error On:
              - else
                Resolved On:
              %br
              = check.incidents.last.created_at.localtime.strftime("%l:%M%P on %Y-%-m-%-d")
          %button.btn.btn-default.details-btn
            Details
      .col-md-5.col-xs-5.chart-column
        .chart-container{:data => {:querytype => "average", :charttype => "bar", :name => check.name, :groupby => "check.name", :timeframe => "last_48_hours", :interval => "hourly", :targetproperty => "request.duration", :chartoptions => "#{{legend: {show: false}, axis: {x: {show: false}, y: {show: false}}, size: {width: "400", height: "180"}}.to_json}"}}
      .col-md-2.col-xs-2
        %a.btn.btn-default.pull-right{:href => "/check/#{check.id}/edit"}
          %span.icon.icon-pencil{:aria => {:hidden => "true"}}
          Edit
