!!! html
%html(lang="en")
  %head
    %title Pingpong - custom HTTP monitoring
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js")
    %link(href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    %link(href="/style.css" rel="stylesheet")
    %script(src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    :javascript
      !function(a,b){if(void 0===b[a]){b["_"+a]={},b[a]=function(c){b["_"+a].clients=b["_"+a].clients||{},b["_"+a].clients[c.projectId]=this,this._config=c},b[a].ready=function(c){b["_"+a].ready=b["_"+a].ready||[],b["_"+a].ready.push(c)};for(var c=["addEvent","setGlobalProperties","trackExternalLink","on"],d=0;d<c.length;d++){var e=c[d],f=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};b[a].prototype[e]=f(e)}var g=document.createElement("script");g.type="text/javascript",g.async=!0,g.src="https://d26b395fwzu5fz.cloudfront.net/3.0.0/keen.min.js?a=b";var h=document.getElementsByTagName("script")[0];h.parentNode.insertBefore(g,h)}}("Keen",this);

      var projectId = "#{@config.properties[:keen][:project_id]}";
      var readKey = "#{@config.properties[:keen][:read_key]}";
      var client;

      // make sure Keen IO environment variables are set
      if (projectId != "" && readKey != "") {

        // configure the global Keen Client
        client = new Keen({
          projectId: projectId,
          readKey: readKey
        });

        // visit queries.js to see what visualizations are configured
        window.Pingpong = {}
        window.Pingpong.collection = "#{@config.properties[:keen][:collection]}"

      } else {
        console.log("Keen IO environment variables are not set. Queries will not be run.");
      }

  %body
    = haml(:aside)
    = yield

    %script(src="/queries.js")
    :javascript
      // retain tab position on reload
      $(function(){
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        $('.nav-pills a').click(function (e) {
          $(this).tab('show');
          var scrollmem = $('body').scrollTop();
          window.location.hash = this.hash;
          $('html,body').scrollTop(scrollmem);
        });
      });
